
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;
}

body {
    background-color: aquamarine;

    
}

.menu-container {
    color: #fff;
    background-color: #5995DA; 
    padding: 20px 0;
    display: flex;
    justify-content: center;

  }

.menu {
    border: 1px solid #fff;
    width: 900px;;
    display: flex;
    justify-content: space-around;
     
}