
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;
}

body {
    background-color: aquamarine;

    
}

.menu-container {
    color: #fff;
    background-color: #5995DA; 
    padding: 20px 0;
    display: flex;
    justify-content: center;

}

.menu {
    
    width: 900px;;
    display: flex;
    justify-content: space-around;     
}

.links {
     
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 10px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  